/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.rubocop-https---**
/Gemfile.lock
/templates/*
!/templates/base
/test.*
/test
/testrelaton.xml
/extract/
/site/

# rspec failure tracking
.rspec_status
.vscode/
relaton/
*.log

*.gem

.rubocop-https--*
