/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.rubocop-https---**
/Gemfile.lock
/templates/*
!/templates/base
/test.*
/testrelaton.xml
/extract/

# rspec failure tracking
.rspec_status
